* {
  margin: 0;
}
.registerPage {
  margin-top: 2rem;
  background-color: transparent;

}
/* PAGE SECTION */
.registerSection {
  display: flex;
  align-items: center;
  background-color: transparent;
  /* pushes form from left like screenshot */
  /* background: linear-gradient(
    135deg,
    #c6d7ff 0%,
    #f5f7ff 50%,
    #ffffff 100%
  ); */
}

.form_container {
  /* width: 420px; */
  background: #ffffff;
  border-radius: 12px;
  padding: 35px 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
}

.error_container {
  min-height: 20px;
  margin-bottom: 5px;
  text-align: center;
}

.error_text {
  color: red !important;
  font-size: 14px;
  margin: 0;
}

.form_title {
  text-align: center;
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: 600;
}

.form_text {
  text-align: center;
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 16px;
}

.form_link {
  color: #ff7a00;
  text-decoration: none;
  font-weight: 500;
}

.input_field {
  width: 100%;
  height: 44px;
  border-radius: 6px;
  border: 1px solid #e5e7eb;
  padding: 0 12px;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
}

.input_field:focus {
  border-color: #5570f5;
}

.first_last {
  display: flex;
  gap: 30px;
}

.first_last_item {
  flex: 1;
}

.password_wrapper {
  position: relative;
}

.password_toggle {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #9ca3af;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.register_button {
  margin-top: 16px;
  height: 44px;
  border: none;
  border-radius: 8px;
  background-color: #556ff6;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.register_button:hover {
  background-color: #445ae3;
}
