
*{
    margin: 0;
}
.registerPage{
    margin-top: 100px;
    background-image: url('../../assets/download.svg');
    background-repeat: no-repeat;
    width: cover;
}
/* PAGE SECTION */
.registerSection {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 80px; /* pushes form from left like screenshot */
  /* background: linear-gradient(
    135deg,
    #c6d7ff 0%,
    #f5f7ff 50%,
    #ffffff 100%
  ); */

}

/* FORM CARD */
.form_container {
  width: 420px;
  background: #ffffff;
  border-radius: 12px;
  padding: 35px 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
}

/* TITLE */
.form_container h3 {
  text-align: center;
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: 600;
}

/* SUBTITLE */
.form_container p {
  text-align: center;
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 16px;
}

.form_container a {
  color: #ff7a00;
  text-decoration: none;
  font-weight: 500;
}

/* INPUTS */
.form_container input {
  width: 100%;
  height: 44px;
  border-radius: 6px;
  border: 1px solid #e5e7eb;
  padding: 0 12px;
  font-size: 14px;
  outline: none;
}

.form_container input:focus {
  border-color: #5570f5;
}

/* FIRST & LAST NAME */
.first_last {
  display: flex;
  gap: 30px;
}

/* PASSWORD */
.password {
  position: relative;
}

.password input {
  padding-right: 42px;
  margin-right: -10px;
  padding-right: 10px;
}

/* PASSWORD TOGGLE */
.password_toggle {
  position: absolute;
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
  color: #9ca3af;
  cursor: pointer;
}

/* BUTTON */
.register_button {
  margin-top: 16px;
  height: 44px;
  border: none;
  border-radius: 8px;
  background-color: #556ff6;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.register_button:hover {
  background-color: #445ae3;
}

/* FOOTER TEXT */
.form_container p:last-child {
  margin-top: 10px;
}
