.login-container {
  width: 360px;
  margin: 80px auto;
  padding: 30px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 8px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  margin-bottom: 25px;
}

.subtitle span {
  color: #f4a261;
  font-weight: bold;
  cursor: pointer;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.password-group {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.forgot {
  text-align: right;
  margin-bottom: 20px;
  font-size: 15px;
}

.forgot span {
  color: #f4a261;
  cursor: pointer;
}

button {
  width: 100%;
  padding: 12px;
  background: #2f80ed;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background: #2563eb;
}
.error {
  color: red;
  text-align: center;
}
