.footer {
  background-color: #3b455a;
  color: #ffffff;
  padding: 40px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.footer-section {
  margin: 0 20px;
}

.footer-logo {
  height: 20px;
  margin-bottom: 20px;
}

.footer-section h4 {
  margin-top: -5px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 300;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 15px;
}

.footer-section ul li a {
  color: #b6b6b6;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.social-icons a {
  color: #ffffff;
  margin-right: 30px;
  font-size: 20px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #ffc107;
}
