/* Container */
.container {
  max-width: 1150px;
  margin: 40px auto;
  padding: 0 20px;
  font-family: "Inter", sans-serif;
}
.arrow {
  margin-right: 5px; /* space between arrow and text */
  color: #506BED; /* optional arrow color */
  padding-left: 30px;
}

.text {
  border-bottom: 2px solid #677bdc; /* underline only under text */
  padding-bottom: 2px;
  font-weight: bold; /* optional */
  padding-left: 5px;
}

.description {
  margin-top: 15px;
  color: black;
  font-size: 16px;
  padding-left: 70px;
}

/* ANSWERS SECTION */
.answers_section h3 {
  margin-bottom: 15px;
  font-weight: 600;
}

.answer_card {
  display: flex;
  gap: 12px;
  background: #fafafa;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #e5e7eb;
  margin-bottom: 12px;
}

.user_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
}

.avatar {
  width: 45px;
  height: 45px;
  background: #e5e7eb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.user_info span {
  font-size: 12px;
  color: rgb(19, 7, 7);
}

.content {
  flex: 1;
  font-size: 14px;
  color: #333;
  margin: 0;
}

/* ERROR / LOADING MESSAGES */
.error {
  color: #dc2626; /* red */
  margin-bottom: 10px;
}

.answers_section p {
  font-size: 14px;
  color: #555;
}

/* ANSWER FORM */
.answer_form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.answer_form textarea {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  resize: none;
}

.answer_form button {
  width: 120px;
  padding: 8px 0;
  background-color: #516cf0;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s ease-in-out;
}

.answer_form button:hover {
  background-color: #506BED;
}

.answer_form button:disabled {
  background-color: #93c5fd;
  cursor: not-allowed;
}
.success {
  color: #2e7d32;
  background: #e8f5e9;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 12px;
  font-weight: 500;
}
.question_summary_wrapper {
  display: flex;
  gap: 50px;
  align-items: flex-start;
  margin-bottom: 32px;
  padding-top: 70px;
}
.big_title{
  padding-bottom: 20px;
}
/* QUESTION SECTION */

/* Right side: summary */
.summary_section {
  flex: 1;
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 16px;
  margin-left: 150px;
}

/* Summary text (collapsed to 3 lines) */
.summaryText {
  line-height: 1.6;
  color: black;
  padding-top: 8px;
}

.collapsed {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.expanded {
  display: block;
}

.readMore {
  color: #506BED;
  cursor: pointer;
  font-weight: 500;
  margin-top: 6px;
  display: inline-block;
}

