/* Full page container */
.container {
  width: 100%;
  min-height: 80vh;
  display: grid;
  place-items: center;
  background: url("../../assets/bg.jpeg") no-repeat center center fixed;
  background-size: cover;
}

/* Wrapper for slider + About */
.containerContent {
  max-width: 60rem;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
/* Slider container */
.sliderContainer {
  width: 100%;
  overflow: hidden;
}
/* Slider wrapper (SignIn + SignUp) */
.sliderWrapper {
  display: flex;
  align-items: center;
  width: 200%;
  transition: transform 0.5s ease-in-out;
}

/* Each panel */
.formPane {
  width: 50%;
}

@media (max-width: 768px) {
  .container {
    place-items: start center;
    padding-top: 1rem;
  }
  .containerContent {
    grid-template-columns: 1fr;
    width: auto;
  }

  .sliderWrapper {
    height: 100vh;
  }

  .formPane {
    width: 100%;
  }
  /*  conditional style for wrapper of the login component */
  .login {
    margin: -6rem 0rem;
  }
  .formPane:first-child {
    margin: 3rem 3em 1rem;
  }

  .formPane:last-child {
    margin-right: 2rem;
    margin-top: 1.5rem;
  }
}
