.nav__bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.navigation {
    width: 100%;
}

.container {
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.evLogo__continer img {
    width: 250px;
    cursor: pointer;
    padding-left: 60px;
}

/* Navigation links */
.nav__links {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 100px;
}

.nav__links a {
    text-decoration: none;
}
.nav-link {
    font-size: 20px;
    font-weight: 400;
    color: #333;

}

.nav__links:hover {
    color: red;
    transition: 0.3s;
}

/* Sign In / Log Out button */
.nav_butn {
    border: none;
    border-radius: 4px;
    background-color: #516cf0;
    color: #fff;
    padding: 8px 65px;
    font-weight: 600;
    cursor: pointer;

}

.nav_butn:hover {
    background-color: red;
    transition: 0.3s;
}

/* Hamburger menu (hidden by default) */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    border-radius: 2px;
}

/* ============================= */
/* Responsive */
@media screen and (max-width: 768px) {
.container {
    flex-wrap: wrap;
}

.evLogo__continer img {
    width: 120px;
}
.nav-link{
    font-size: 19px;

}
.nav__links {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 25px;
    margin-top: 10px;
    font-size: 16px;
    text-decoration: none;
}

.nav__links.open {
    display: flex;
}

.hamburger {
    display: flex;
}

.nav_butn {
    text-align: center;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 300;
}
.evLogo__continer img {
width: 230px;
padding-left: 100px;
  }
.hamburger{
    padding-right: 90px;
    font-size: 20px;
}
  
}
